<!DOCTYPE html>
<html>
  <head>
    <title>todoList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <meta charset="UTF-8">
    <link rel="stylesheet" href="stylesheets/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="javascripts/vendor.js"></script>
  </head>
  <body>
    <div id="app" class="container my-3">
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">待辦事項</span>
        </div>
        <input type="text" class="form-control" placeholder="準備要做的任務" 
        v-model="newTodo" @keyup.enter="addTodo">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" @click="addTodo">新增</button>
        </div>
      </div>
      <div class="card text-center">
        <div class="card-header">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" :class="{'active': visibility == 'all'}" @click="visibility = 'all'" href="#">全部</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active': visibility == 'undone'}" @click="visibility = 'undone'" href="#">進行中</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" :class="{'active': visibility == 'completed'}" @click="visibility = 'completed'" href="#">已完成</a>
            </li>
          </ul>
        </div>
        <ul class="list-group list-group-flush text-left">
          <li class="list-group-item" v-for="(item, key) in filteredTodos" @dblclick="editTodo(item)">
            <div class="d-flex" v-if="item.id !== cacheTodo.id">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
                <label class="form-check-label" 
                :class="{completed: item.completed}"
                :for="item.id">
                  {{ item.title }}
                </label>
              </div>
              <button type="button" class="close ml-auto" @click="removeTodo(item)" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <input type="text" class="form-control" 
              v-model = "cacheTitle"
              @keyup.esc="cancelEdit()"
              @keyup.enter="doneEdit(item)"
              v-if="item.id === cacheTodo.id">
          </li>
        </ul>
        <div class="card-footer d-flex justify-content-between" >
          <span>還有             
              <span>{{ undoneNum }}</span>   
             筆任務未完成</span>
          <a href="#" v-on:click.prevent="clearAll()">清除所有任務</a>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="javascripts/all.js"></script>

    <style>
      .completed {
        text-decoration: line-through;
      }
    </style>

  </body>
  </html>
  
